{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-eleads" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}</div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="view/stylesheet/eleads.css" />

    {% if api_key_required %}
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-eleads" class="form-horizontal eleads-wrap">
        <div class="panel panel-default eleads-card">
          <div class="panel-heading"><strong>{{ entry_api_key_title }}</strong></div>
          <div class="panel-body">
            <p class="help-block">{{ entry_api_key_hint }}</p>
            {% if api_key_error %}
              <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_api_key_invalid }}</div>
            {% endif %}
            <div class="form-group">
              <label class="col-sm-2 control-label">{{ entry_api_key }}</label>
              <div class="col-sm-10">
                <input type="text" name="module_eleads_api_key" value="{{ api_key_value }}" class="form-control"/>
                <input type="hidden" name="module_eleads_api_key_submit" value="1"/>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">{{ button_save }}</button>
          </div>
        </div>
      </form>
    {% else %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-eleads" class="form-horizontal eleads-wrap">
      <div class="panel panel-default eleads-card eleads-tabs">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-export" data-toggle="tab">{{ tab_export }}</a></li>
            <li><a href="#tab-filter" data-toggle="tab">{{ tab_filter }}</a></li>
            {% if seo_tab_available %}
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
            {% endif %}
            <li><a href="#tab-api" data-toggle="tab">{{ tab_api }}</a></li>
            <li><a href="#tab-update" data-toggle="tab">{{ tab_update }}</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab-export">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default eleads-card eleads-section">
                  <div class="panel-heading"><strong>Feed URLs</strong></div>
                  <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>Feed Name</th>
                              <th>Feed URL</th>
                              <th style="width: 180px;">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for feed in feed_urls %}
                              <tr>
                                <td>{{ feed.name }}</td>
                                <td>
                                  <a href="{{ feed.url }}" target="_blank">{{ feed.url }}</a>
                                </td>
                              <td>
                                  <button type="button" class="btn btn-default btn-xs eleads-copy-btn" data-url="{{ feed.url }}">Copy</button>
                                  <a class="btn btn-default btn-xs" href="{{ feed.url }}" download="eleads-{{ feed.code }}.xml">Save</a>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default eleads-card eleads-section">
                  <div class="panel-heading"><strong>{{ entry_status }}</strong></div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">{{ entry_status }}</label>
                      <div class="col-sm-10">
                        <select name="module_eleads_status" class="form-control">
                          <option value="1" {% if module_eleads_status %}selected{% endif %}>{{ text_enabled }}</option>
                          <option value="0" {% if not module_eleads_status %}selected{% endif %}>{{ text_disabled }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default eleads-card eleads-section">
                    <div class="panel-heading"><strong>{{ tab_export }}</strong></div>
                    <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_access_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_eleads_access_key" value="{{ module_eleads_access_key }}" class="form-control"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_categories }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-sm eleads-btn-group" role="group" style="margin-bottom: 8px;">
                <button type="button" class="btn btn-default" id="eleads-categories-all" onclick="eleadsSelectAllCategories(true)">Select all</button>
                <button type="button" class="btn btn-default" id="eleads-categories-none" onclick="eleadsSelectAllCategories(false)">Select none</button>
              </div>
              <div class="eleads-tree" id="eleads-categories-tree">
                {{ categories_tree_html|raw }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_filter_attributes_toggle }}</label>
            <div class="col-sm-10">
              <select name="module_eleads_filter_attributes_enabled" class="form-control" id="eleads-filter-attributes-toggle">
                <option value="1" {% if module_eleads_filter_attributes_enabled %}selected{% endif %}>{{ text_enabled }}</option>
                <option value="0" {% if not module_eleads_filter_attributes_enabled %}selected{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <div class="form-group eleads-filter-attributes-block" {% if not module_eleads_filter_attributes_enabled %}style="display:none"{% endif %}>
            <label class="col-sm-2 control-label">{{ entry_filter_attributes }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-sm eleads-btn-group" role="group" style="margin-bottom: 8px;">
                <button type="button" class="btn btn-default" id="eleads-attributes-all">Select all</button>
                <button type="button" class="btn btn-default" id="eleads-attributes-none">Select none</button>
              </div>
              <div class="eleads-tree">
                <ul class="eleads-tree-list eleads-attributes-list">
                  {% for attribute in attributes %}
                    <li class="eleads-tree-item">
                      <span class="eleads-tree-spacer"></span>
                      <label class="eleads-tree-label">
                        <input type="checkbox" name="module_eleads_filter_attributes[]" value="{{ attribute.attribute_id }}" {% if attribute.attribute_id in module_eleads_filter_attributes %}checked{% endif %}>
                        <span class="eleads-tree-box"></span>
                        <span class="eleads-tree-text">{{ attribute.name }}</span>
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_filter_option_values_toggle }}</label>
            <div class="col-sm-10">
              <select name="module_eleads_filter_option_values_enabled" class="form-control" id="eleads-filter-options-toggle">
                <option value="1" {% if module_eleads_filter_option_values_enabled %}selected{% endif %}>{{ text_enabled }}</option>
                <option value="0" {% if not module_eleads_filter_option_values_enabled %}selected{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <div class="form-group eleads-filter-options-block" {% if not module_eleads_filter_option_values_enabled %}style="display:none"{% endif %}>
            <label class="col-sm-2 control-label">{{ entry_filter_option_values }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-sm eleads-btn-group" role="group" style="margin-bottom: 8px;">
                <button type="button" class="btn btn-default" id="eleads-options-all">Select all</button>
                <button type="button" class="btn btn-default" id="eleads-options-none">Select none</button>
              </div>
              <div class="eleads-tree">
                <ul class="eleads-tree-list eleads-options-list">
                  {% for option in options %}
                    {% if option.option_value is defined %}
                      {% for value in option.option_value %}
                        <li class="eleads-tree-item">
                          <span class="eleads-tree-spacer"></span>
                          <label class="eleads-tree-label">
                            <input type="checkbox" name="module_eleads_filter_option_values[]" value="{{ value.option_value_id }}" {% if value.option_value_id in module_eleads_filter_option_values %}checked{% endif %}>
                            <span class="eleads-tree-box"></span>
                            <span class="eleads-tree-text">{{ option.name }}: {{ value.name }}</span>
                          </label>
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_grouped }}</label>
            <div class="col-sm-10">
              <select name="module_eleads_grouped" class="form-control">
                <option value="1" {% if module_eleads_grouped %}selected{% endif %}>{{ text_enabled }}</option>
                <option value="0" {% if not module_eleads_grouped %}selected{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_sync_enabled }}</label>
            <div class="col-sm-10">
              <select name="module_eleads_sync_enabled" class="form-control">
                <option value="1" {% if module_eleads_sync_enabled %}selected{% endif %}>{{ text_enabled }}</option>
                <option value="0" {% if not module_eleads_sync_enabled %}selected{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_picture_limit }}</label>
            <div class="col-sm-10">
              <input type="number" name="module_eleads_picture_limit" value="{{ module_eleads_picture_limit }}" class="form-control"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_image_size }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_eleads_image_size" value="{{ module_eleads_image_size }}" class="form-control"/>
              <div class="help-block">{{ help_image_size }}</div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_short_description_source }}</label>
            <div class="col-sm-10">
              <select name="module_eleads_short_description_source" class="form-control">
                <option value="meta_description" {% if module_eleads_short_description_source == 'meta_description' %}selected{% endif %}>Meta Description</option>
                <option value="description" {% if module_eleads_short_description_source == 'description' %}selected{% endif %}>Description</option>
              </select>
            </div>
          </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-filter">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default eleads-card eleads-section">
                    <div class="panel-heading"><strong>{{ tab_filter }}</strong></div>
                    <div class="panel-body">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_filter_pages_enabled }}</label>
                        <div class="col-sm-10">
                          <select name="module_eleads_filter_pages_enabled" class="form-control">
                            <option value="1" {% if module_eleads_filter_pages_enabled %}selected{% endif %}>{{ text_enabled }}</option>
                            <option value="0" {% if not module_eleads_filter_pages_enabled %}selected{% endif %}>{{ text_disabled }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_filter_max_index_depth }}</label>
                        <div class="col-sm-10">
                          <input type="number" min="1" max="10" name="module_eleads_filter_max_index_depth" value="{{ module_eleads_filter_max_index_depth }}" class="form-control"/>
                          <div class="help-block">{{ help_filter_depth_rules }}</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_filter_whitelist_attributes }}</label>
                        <div class="col-sm-10">
                          <div class="btn-group btn-group-sm eleads-btn-group" role="group" style="margin-bottom: 8px;">
                            <button type="button" class="btn btn-default" id="eleads-whitelist-attributes-all">Select all</button>
                            <button type="button" class="btn btn-default" id="eleads-whitelist-attributes-none">Select none</button>
                          </div>
                          <div class="eleads-tree eleads-whitelist-tree">
                            <ul class="eleads-tree-list eleads-whitelist-attributes-list">
                              {% for attribute in whitelist_attributes %}
                                <li class="eleads-tree-item">
                                  <span class="eleads-tree-spacer"></span>
                                  <label class="eleads-tree-label">
                                    <input type="checkbox" name="module_eleads_filter_whitelist_attributes[]" value="{{ attribute.attribute_id }}" {% if attribute.attribute_id in module_eleads_filter_whitelist_attributes %}checked{% endif %}>
                                    <span class="eleads-tree-box"></span>
                                    <span class="eleads-tree-text">{{ attribute.name }}</span>
                                  </label>
                                </li>
                              {% endfor %}
                              {% if not whitelist_attributes %}
                                <li class="eleads-tree-item"><span class="eleads-tree-text">Select attributes in Export -> Filter Attributes first.</span></li>
                              {% endif %}
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_filter_templates }}</label>
                        <div class="col-sm-10">
                          <div class="eleads-template-help" id="eleads-template-vars-help">
                            <div class="eleads-template-help-title">Available Variables</div>
                            <div id="eleads-template-vars-help-text">{{ help_filter_template_vars }}</div>
                          </div>
                          <div class="btn-group btn-group-sm eleads-btn-group" role="group" style="margin-bottom:8px;">
                            <button type="button" class="btn btn-default" id="eleads-template-expand-all">Expand all</button>
                            <button type="button" class="btn btn-default" id="eleads-template-collapse-all">Collapse all</button>
                          </div>
                          <div class="eleads-template-list" id="eleads-filter-templates-list">
                            {% for row in module_eleads_filter_templates %}
                              {% set row_idx = loop.index0 %}
                              <div class="eleads-template-card-item">
                                <div class="eleads-template-card-head">
                                  <div class="eleads-template-card-title">Template #<span class="eleads-template-card-title-num">{{ loop.index }}</span><span class="eleads-template-card-meta"></span></div>
                                  <div class="eleads-template-card-controls">
                                    <button type="button" class="btn btn-default btn-sm eleads-template-toggle">−</button>
                                    <button type="button" class="btn btn-danger btn-sm eleads-template-remove">{{ button_remove_template }}</button>
                                  </div>
                                </div>
                                <div class="eleads-template-card-body">
                                <div class="row">
                                  <div class="col-sm-8">
                                    <div class="eleads-template-field">
                                      <label>{{ entry_filter_template_category }}</label>
                                      <select name="module_eleads_filter_templates[{{ row_idx }}][category_id]" class="form-control">
                                        <option value="0" {% if row.category_id == 0 %}selected{% endif %}>{{ text_all_categories }}</option>
                                        {% for c in filter_template_categories %}
                                          <option value="{{ c.category_id }}" {% if row.category_id == c.category_id %}selected{% endif %}>{{ c.name }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="eleads-template-field">
                                      <label>{{ entry_filter_template_depth }}</label>
                                      <select name="module_eleads_filter_templates[{{ row_idx }}][depth]" class="form-control eleads-template-depth">
                                        {% for d in 0..module_eleads_filter_max_index_depth %}
                                          <option value="{{ d }}" {% if (row.depth|default(0)) == d %}selected{% endif %}>{{ d }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <ul class="nav nav-tabs eleads-lang-tabs">
                                  {% for lang in languages %}
                                    <li{% if loop.first %} class="active"{% endif %}>
                                      <a href="#eleads-template-{{ row_idx }}-{{ loop.index0 }}" data-toggle="tab">{{ lang.code }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                                <div class="tab-content eleads-lang-content">
                                  {% for lang in languages %}
                                    {% set t = row.translations[lang.code] is defined ? row.translations[lang.code] : {} %}
                                    <div class="tab-pane{% if loop.first %} active{% endif %}" id="eleads-template-{{ row_idx }}-{{ loop.index0 }}">
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <div class="eleads-template-field">
                                            <label>{{ entry_filter_template_h1 }}</label>
                                            <input type="text" name="module_eleads_filter_templates[{{ row_idx }}][translations][{{ lang.code }}][h1]" value="{{ t.h1|default('') }}" class="form-control" />
                                          </div>
                                          <div class="eleads-template-field">
                                            <label>{{ entry_filter_template_meta_title }}</label>
                                            <input type="text" name="module_eleads_filter_templates[{{ row_idx }}][translations][{{ lang.code }}][meta_title]" value="{{ t.meta_title|default('') }}" class="form-control" />
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="eleads-template-field">
                                            <label>{{ entry_filter_template_meta_description }}</label>
                                            <textarea name="module_eleads_filter_templates[{{ row_idx }}][translations][{{ lang.code }}][meta_description]" rows="3" class="form-control">{{ t.meta_description|default('') }}</textarea>
                                          </div>
                                          <div class="eleads-template-field">
                                            <label>{{ entry_filter_template_meta_keywords }}</label>
                                            <textarea name="module_eleads_filter_templates[{{ row_idx }}][translations][{{ lang.code }}][meta_keywords]" rows="3" class="form-control">{{ t.meta_keywords|default('') }}</textarea>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="eleads-template-field">
                                            <label>{{ entry_filter_template_short_description }}</label>
                                            <textarea name="module_eleads_filter_templates[{{ row_idx }}][translations][{{ lang.code }}][short_description]" rows="4" class="form-control">{{ t.short_description|default('') }}</textarea>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="eleads-template-field">
                                            <label>{{ entry_filter_template_description }}</label>
                                            <textarea name="module_eleads_filter_templates[{{ row_idx }}][translations][{{ lang.code }}][description]" rows="5" class="form-control">{{ t.description|default('') }}</textarea>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                          <button type="button" class="btn btn-primary" id="eleads-filter-template-add">{{ button_add_template }}</button>
                        </div>
                      </div>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	            </div>

	            {% if seo_tab_available %}
	            <div class="tab-pane" id="tab-seo">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default eleads-card eleads-section">
                    <div class="panel-heading"><strong>{{ tab_seo }}</strong></div>
                    <div class="panel-body">
                      {% if not seo_url_enabled %}
                        <div class="alert alert-warning">{{ text_seo_url_disabled }}</div>
                      {% endif %}
                      <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_seo_pages }}</label>
                        <div class="col-sm-10">
                          <select name="module_eleads_seo_pages_enabled" class="form-control" {% if not seo_url_enabled %}disabled{% endif %}>
                            <option value="1" {% if module_eleads_seo_pages_enabled %}selected{% endif %}>{{ text_enabled }}</option>
                            <option value="0" {% if not module_eleads_seo_pages_enabled %}selected{% endif %}>{{ text_disabled }}</option>
                          </select>
                          {% if not seo_url_enabled %}
                            <input type="hidden" name="module_eleads_seo_pages_enabled" value="0"/>
                          {% endif %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_sitemap_url }}</label>
                        <div class="col-sm-10">
                          <div class="input-group">
                            <input type="text" class="form-control" readonly value="{{ sitemap_url_full }}" id="eleads-sitemap-url" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" onclick="eleadsCopySitemap('eleads-sitemap-url')">Copy</button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="tab-pane" id="tab-api">
              <div class="row">
                <div class="col-sm-8">
                <div class="panel panel-default eleads-card eleads-section">
                  <div class="panel-heading"><strong>{{ tab_api }}</strong></div>
                  <div class="panel-body">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_api_key }}</label>
                        <div class="col-sm-10">
                          <input type="text" name="module_eleads_api_key" value="{{ module_eleads_api_key }}" class="form-control"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-update">
              <div class="row">
                <div class="col-sm-8">
                <div class="panel panel-default eleads-card eleads-section">
                  <div class="panel-heading"><strong>{{ tab_update }}</strong></div>
                  <div class="panel-body">
                      <p>Local version: {{ update_info.local_version }}</p>
                      <p>Latest version: {{ update_info.latest_version }}</p>
                      {% if update_info.update_available %}
                        <a href="{{ update_url }}" class="btn btn-warning">{{ text_update }}</a>
                      {% else %}
                        <span class="label label-success eleads-pill">Up to date</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endif %}
    <script>
      window.EleadsAdminConfig = {
        fixMainTabs: true,
        useBsTabs: false,
        selectClass: 'form-control',
        removeClass: 'eleads-template-remove',
        removeBtnClass: 'btn btn-danger btn-sm',
        toggleBtnClass: 'btn btn-default btn-sm',
        templateCategories: {{ filter_template_categories|json_encode|raw }},
        languages: [{% for lang in languages %}{ code: {{ lang.code|json_encode|raw }} }{% if not loop.last %}, {% endif %}{% endfor %}],
        labels: {
          allCategories: {{ text_all_categories|json_encode|raw }},
          remove: {{ button_remove_template|json_encode|raw }},
          category: {{ entry_filter_template_category|json_encode|raw }},
          depth: {{ entry_filter_template_depth|json_encode|raw }},
          h1: {{ entry_filter_template_h1|json_encode|raw }},
          metaTitle: {{ entry_filter_template_meta_title|json_encode|raw }},
          metaDescription: {{ entry_filter_template_meta_description|json_encode|raw }},
          metaKeywords: {{ entry_filter_template_meta_keywords|json_encode|raw }},
          shortDescription: {{ entry_filter_template_short_description|json_encode|raw }},
          description: {{ entry_filter_template_description|json_encode|raw }}
        },
        confirmRemoveText: 'Remove this template?'
      };
    </script>
    <script type="text/javascript" src="view/javascript/eleads/eleads_admin.js"></script>
  </div>
</div>
{{ footer }}
